body{background:#f3f2ee;font-family:Arial;}
.container{max-width:360px;margin:auto;padding:15px;}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.top-text{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:4px;
}

.bg{
    background:#eaeaea;
    padding:5px 8px;
    border-radius:6px;
    font-size:12px;
}

.search-box{
    background:#ddd;
    padding:10px;
    border-radius:8px;
    margin-bottom:10px;
}

.search-box input{
    width:100%;
    border:none;
    background:transparent;
}

.list{
    background:#ddd;
    padding:10px;
    border-radius:10px;
    max-height:420px;
    overflow:auto;
}

.item{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px 0;
    border-bottom:1px solid #ccc;
}

.img{
    width:40px;
    height:40px;
    object-fit:cover;
    border-radius:6px;
}
.info{
    flex:1;
    display:flex;
    flex-direction:column;
}

.stok-box{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.stok{
    width:45px;
    height:30px;
    background:#ccc;
    display:flex;
    align-items:center;
    justify-content:center;
}