body{background:#f3f2ee;font-family:Arial;}
.container{max-width:360px;margin:auto;padding:15px;}

.top-bar{display:flex;justify-content:space-between;}

.bg{
    background:#eaeaea;
    padding:5px;
    border-radius:6px;
}

.search-box{
    background:#ddd;
    padding:10px;
    border-radius:8px;
    margin:10px 0;
}

.search-box input{
    width:100%;
    border:none;
    background:transparent;
    outline:none;
}
.list{
    background:#ddd;
    padding:10px;
    border-radius:10px;
}

.item{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
}

.img{
    width:40px;
    height:40px;
    object-fit:cover;
    border-radius:6px;
}

.info{flex:1;}

.btn-edit{
    background:red;
    color:#fff;
    padding:6px 10px;
    text-decoration:none;
    border-radius:5px;
}