body{
    background:#f3f2ee;
    font-family:Arial;
}

.container{
    max-width:360px;
    margin:auto;
    padding:15px;
}

/* TOP */
.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.back{
    text-decoration:none;
    font-size:20px;
}

/* DATE */
.top-text{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:4px;
}

.bg{
    background:#eaeaea;
    padding:5px 8px;
    border-radius:6px;
    font-size:12px;
}

/* HEADER */
.header-box{
    display:flex;
    gap:10px;
    margin-top:20px;
}

/* GAMBAR */
.img{
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius:8px;
    background:#ddd;
}

/* INPUT */
.info{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:6px;
}

.info input{
    padding:6px;
    border:1px solid #ccc;
    border-radius:6px;
}

/* DESKRIPSI */
textarea{
    width:100%;
    height:150px;
    margin-top:15px;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

/* BUTTON */
.btn-tambah{
    width:100%;
    margin-top:20px;
    background:#e5e58c;
    border:none;
    padding:12px;
    border-radius:8px;
    font-weight:bold;
}